<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/zapata.min.css">
    <title>Zapata</title>
</head>
<body>
    <section class="container">
        <section class="row justify-content-center mt-2 text-cente">
            <h2 class="text" id="text">Re-creando a Zapata</h2> 
        </section>
        <!-- Menu -->
        <section class="container ">
            <nav class="navbar navbar-expand-lg ">
                <button class="navbar-toggler text-warning" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-chevron-circle-down"></i>
                </button>
                <section class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link text-warning " href="../index.html">Huacalito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning " href="#">Otro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning " href="#">Otro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning " href="#">Otro</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-warning dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorías
                            </a>
                            <section class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#"><i class="fas fa-microphone"></i>&#32;Conferencias</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i>&#32;Encuentros</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-book-reader"></i>&#32;Libros</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-play"></i>&#32;Audiolibros</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-download"></i>&#32;Descargables</a>
                            </section>
                        </li>
                    </ul>
                </section>
            </nav>
        </section>
        <!-- Texto-->
        <section class="container">
            <section class="row mt-5 text-justify">
                <section class="col-lg-6 col-xl-6 col-sm-12 col-xs-12 text-white">
                    <p>La Coordinación Nacional de Desarrollo Cultural Infantil desarrolla actividades artísticas y culturales con y para niñas, niños y adolescentes en su diversidad de contextos a partir de un enfoque de Derechos atendiendo a la Convención de los Derechos del Niño, así como el juego, la creatividad y la participación infantil como ejes rectores en actividades como narración y tradición oral, laboratorios creativos, espectáculos, entre otros. Para ello es de suma importancia formar cuadros de promotoras y promotores culturales, así como talleristas, artistas y aquellos agentes que son facilitadores en el trabajo con la diversidad de infancias y adolescencias.</p>
                    
                </section>
                <section class="col-lg-6 col-xl-6 col-sm-12 col-xs-12 text-white"> 
                    <!-- <img class="rounded mx-auto d-block" src="https://www.alasyraices.gob.mx/img/cartelera/zapata.png" alt="Zapata" style="width: 100%;"> -->
                    <p>Por ello, en el área de Formación, consideramos la importancia de diversificar y ampliar la oferta a partir de cursos en línea, en esta ocasión y celebrando el año del Caudillo del Sur, Emiliano Zapata, con la intención de recuperar sus ideales de identidad y comunidad, pretendemos que las y los promotores de las 32 entidades federativas puedan adquirir herramientas metodológicas a partir de los lenguajes artísticos. En estas cápsulas podrás encontrar cómo realizar narraciones orales y actividades de rap incluyendo dichos ideales.</p>
                    
                </section>
            </section>

        </section>
        <section class="container">
            <section class="row mt-3 justify-content-center">
                <h3 class="subtext">Conoce a los ponentes y mira su conferencia</h3>
            </section>
            <section Foto ponente -->
            <section class="row mt-3 justify-content-center" id="buttons"></section>
            <!-- Video -->
            <section class="row mt-4 justify-content-center" id="videoConf"></section>
            <!-- Biografia -->
            <section class="row text-white">
                <section class="col-10 offset-1" id="biography"></section>
            </section>
        </section>
    </section>
  
    </section>
     <script src="https://kit.fontawesome.com/d03c13a089.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
</body>
</html>